sudo: false

language: python

python:
    - "2.7"

branches:
    only:
      - master
cache:
    directories:
        - $HOME/.cache/pip

before_install:
    - "export DISPLAY=:99"
    - "sh -e /etc/init.d/xvfb start"

install:
    - "make install"
    - "pip install coveralls"

script:
    - "make quality"
    - "make cover"

after_success:
    - "coveralls"
