include AUTHORS
include CHANGELOG.rst
include LICENSE.txt
include README.rst
include requirements/base.in
include requirements/test.in
include requirements/test.txt
include requirements/constraints.txt
