# XBlock
-e git+https://github.com/singingwolfboy/XBlock.git@505162cff#egg=XBlock

#acid xblock
-e git+https://github.com/edx/acid-block.git@459aff7b63db8f2c5decd1755706c1a64fb4ebb1#egg=acid-xblock

# install this locally
-e .

cookiecutter
six
