cookiecutter==0.7.1
Django >= 1.4, < 1.5
lxml
requests
webob
simplejson
lazy

# XBlock
# This is not in/from PyPi, since it moves fast
-e git+https://github.com/edx/XBlock.git@f265243c0c14eb5d633c33603c527ac2d252a23f#egg=XBlock
#-e ../XBlock

# Acid xblock
-e git+https://github.com/edx/acid-block.git@5bbb4a2252967314d9385c7a37a6a8d52ec7ab67#egg=acid-xblock

fs
pypng
-e git+https://github.com/pmitros/django-pyfs.git@514607d78535fd80bfd23184cd292ee5799b500d#egg=djpyfs
