<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <!--link rel="stylesheet" type="text/css"
              href="{% static 'workbench/css/workbench.css' %}"-->
        <script>
            // TODO: This should be handled more modularly.
            studentId = '{{student_id}}';
            handlerBaseUrl = '{% url workbench_index %}handler/';
        </script>
        {{head_html|safe}}
    </head>
    <body class="view-workbench">
        <div class="wrapper-workbench">
            <div class="workbench">
                <header class="banner" role="banner">
                    <h1 class="title" >XBlock: {{scenario.description}}</h1>
                </header>

		<div>
		<select id="scenario_list" name="scenarios">
		</select>

		<select id="user_list" name="users">
		</select>
		</div>

                <section class="main">
		  <!-- We could also load this as a div --> 
		  <iframe src="/justscenario/{{scenario_id}}/" sandbox="allow-same-origin allow-top-navigation allow-forms allow-scripts" frameborder="0" seamless id="xblock_iframe" height="720" width="100%" onLoad="calcHeight();">
		  </iframe>
                </section>

                <section class="debug">
                    <div class="data">
                        <span class="label">Database</span>
                        <div align="left" style="float:left">
                            <a href="{% url admin:workbench_xblockstate_changelist %}?scenario={{scenario.description|slugify}}">Scenario State</a>
                        </div>
                        <div align="right">
                            <form method="POST" action="{% url workbench.views.reset_state %}">
                                <input type="submit" value="Reset State"/>
                            </form>
                        </div>
                    </div>
                    <div class="data">
                        <span class="label">Block</span>
                        {{block}}
                    </div>
                    <div class="data">
                        <span class="label">Scenario</span>
                        <pre>{{scenario.xml}}</pre>
                    </div>
                </section>
            </div>
        </div>
    </body>
    <script src='/static/workbench/js/vendor/jquery.min.js' type='application/javascript'></script>
<script src='/static/workbench/js/vendor/jquery.cookie.js' type='application/javascript'></script>
<script>
function calcHeight() {
   // This works under Firefox, but not Chrome. 
   document.getElementById('xblock_iframe').height = document.getElementById('xblock_iframe').contentWindow.document.body.scrollHeight;
}
$(function() {
     $.ajax({url:"/userlist/"
            }).done(function(result) {
	      //result=JSON.parse(result);
              console.log(result);
              var options = $("#user_list");
              for(i=0; i<result.length; i++) {
                if(result[i]) {
                  console.log(result[i]);
                  options.append($("<option/>").val(result[i]).text(result[i]));
                }
              }
            });
     $.ajax({url:"/scenario_list/"
            }).done(function(result) {
	      result=JSON.parse(result);
              console.log(result);
              var options = $("#scenario_list");
              for(i=0; i<result.length; i++) {
                if(result[i]) {
                  console.log(result[i]);
                  options.append($("<option/>").val(result[i][1]).text(result[i][0]));
                }
              }
            });
});
</script>
</html>
