{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css"
              href="{% static 'workbench/css/workbench.css' %}">
    </head>
    <body class="view-workbench">
        <div class="wrapper-workbench">
            <div class="workbench">
                <header class="banner" role="banner">
                    <h1 class="title">XBlock scenarios</h1>
                </header>
                <section class="main">
                    {% for scname, desc in scenarios %}
                        <p><a href="{% url workbench_show_scenario scname %}">{{desc}}</a></p>
                    {% endfor %}
                </section>
                <section class="failures">
                    {% for fname, exception, description, hasMore, file, line, column, snippet in failures %}
						<fieldset class="failure">
							<h2>EXCEPTION in {{fname}}: {{exception}}</h2>
							{% if hasMore %}
								<p>{{description}} in {{file}} on line {{line}}, column {{column}}:</p>
								<p>{{snippet}}</p>
                        	{% else %}
								<p>{{description}}</p>
							{% endif %}
						</fieldset>
                    {% endfor %}
                </section>
            </div>
        </div>
        <div>
            <form method="POST" action="{% url workbench.views.reset_state %}">
                <input type="submit" value="Reset State"/>
            </form>
        </div>
    </body>
</body>
