# Version constraints for pip-installation.
#
# This file doesn't install any packages. It specifies version constraints
# that will be applied if a package is needed.
#
# When pinning something here, please provide an explanation of why.  Ideally,
# link to other information that will help people in the future to remove the
# pin when possible.  Writing an issue against the offending project and
# linking to it here is good.

# Common constraints for edx repos
-c common_constraints.txt

# setuptools 82 removed pkg_resources:
# https://setuptools.pypa.io/en/latest/history.html#v82-0-0
# pyfilesystem2 (fs) still imports pkg_resources for namespace behavior, which breaks djpyfs:
# djpyfs -> fs -> pkg_resources
# The constraint can be removed once fs no longer depends on pkg_resources.
setuptools<82.0
