name: Python CI
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - '**'
jobs:
  run_tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.11', '3.12']
        toxenv: [django42, django52, quality]
    steps:
    - uses: actions/checkout@v5

    - name: Python setup
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Requirements
      run: |
        pip install -r requirements/pip.txt
        pip install -r requirements/ci.txt

    - name: Run Tests
      run:  tox -e ${{ matrix.toxenv }}

    - name: Upload coverage to CodeCov
      if: matrix.python-version == '3.11' && matrix.toxenv == 'django42'
      uses: codecov/codecov-action@v5
      with:
        file: ./coverage.xml
        fail_ci_if_error: true
        token: ${{ secrets.CODECOV_TOKEN }}
